:root {
  --main-bg: #4ecbd4;
  --shadow-1: #57e3ed;
  --shadow-2: #45b3bb;
  --text-color: #fff;
  /* --main-bg: #55b9f3;
  --shadow-1: #62d5ff;
  --shadow-2: #489dcf;
  --text-color: #fff; */
  /* --main-bg: #dca3a3;
  --shadow-1: #fdbbbb;
  --shadow-2: #bb8b8b;
  --text-color: #fff; */
  background: var(--main-bg);
  color: var(--text-color);
}

html,
body {
  background-color: var(--main-bg);
  overflow: hidden;
}

body {
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  transition: all 0.3s ease;
}

header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 20px 0 25px 0;
  padding: 0 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 200px;
}

.content {
  padding: 0 15px;
}

.title_text {
  cursor: pointer;
}

#components-back-top-demo-custom .ant-back-top {
  bottom: 20px;
}

.Card {
  background-color: var(--main-bg);
  box-shadow: 3px 3px 6px var(--shadow-2), -3px -3px 6px var(--shadow-1);
  transition: box-shadow 1s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 20px;
}

.Card .ant-card-cover {
  margin: 0 20px;
  width: calc(100% - 40px);
  border-radius: 4px;
  overflow: hidden;
}

.ant-card-body {
  padding: 15px;
}

.Card:hover {
  animation: boxShadowHover 0.2s ease-in;
  background-color: var(--main-bg);
  box-shadow: inset 3px 3px 6px var(--shadow-2),
    inset -3px -3px 6px var(--shadow-1);
}

.Card:hover .ant-card-cover,
.ant-card-body {
  transform: scale(0.95);
}

.Card:hover .ant-card-meta-title {
  transform: scale(0.95);
}

.ant-card-meta-title {
  color: var(--text-color);
  text-align: center;
}

.title_text {
  color: var(--text-color);
  animation: fontAni 3s ease-in-out infinite alternate;
  display: inline-block;
  font-size: 24px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  transform: translate3d(0, 0, 0);
  border-bottom: 1px solid var(--text-color);
  margin-left: 5px;
}

.title_text:nth-child(1) {
  animation-delay: 0s;
}

.title_text:nth-child(2) {
  animation-delay: 0.08s;
}

.title_text:nth-child(3) {
  animation-delay: 0.16s;
}

.title_text:nth-child(4) {
  animation-delay: 0.24s;
}

.title_text:nth-child(5) {
  animation-delay: 0.32s;
}

.title_text:nth-child(6) {
  animation-delay: 0.4s;
}

.title_text:nth-child(7) {
  animation-delay: 0.48s;
}

.title_text:nth-child(8) {
  animation-delay: 0.56s;
}

.title_text:nth-child(9) {
  animation-delay: 0.62s;
}

@keyframes fontAni {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  50% {
    transform: translate3d(0, -8px, 0);
  }
  100% {
    transform: translate3d(0, 4px, 0);
  }
}

@keyframes boxShadowHover {
  0% {
    box-shadow: 3px 3px 6px var(--shadow-2), -3px -3px 6px var(--shadow-1);
  }
  50% {
    box-shadow: 0px 0px 0px var(--shadow-2), -0px -0px 0px var(--shadow-1);
  }
  100% {
    box-shadow: inset 3px 3px 6px var(--shadow-2),
      inset -3px -3px 6px var(--shadow-1);
  }
}
